:root {
    --main: #2AC2B1;
}

a {
    text-decoration: none;
    color: var(--main);
}

ul {
    list-style: none;
}

.menuitem-comerciante {
    padding: 0.5rem;
}

.quitbtn {
    color: rgb(236, 95, 95) !important;
}